body {
    background-color:gray;
}
a {
    text-decoration: none;
    color: blue;
}
.container {
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.content{
    padding: 10px;
}
#header {
    font-size:13px;
    padding: 10px;
    border-bottom: 1px solid gray;
}
#b{
    background-color: lightgrey;
}
footer {
    clear: both;
    padding: 5px;
    background-color: gray;
    color: blue;
    
}
.c{
    color: white;
}
#cat{
border-right:1px solid gray;
}

#cat div {
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}
/*form*/
.btn-info {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    font-size: 15px;   
}
