body {
    background-color:gray;
}
a {
    text-decoration: none;
    color: blue;
}
#container {
    background-color: white;
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.content{
    padding: 10px;
}
#header {
    font-size:13px;
    padding: 10px;
    border-bottom: 1px solid gray;
}
img {
    border-bottom:0.5px solid gray;
}
.t {
    border-left: 1px solid gray;
    height: 450px;
    position: absolute;
    left: 24.5%;
    margin-left: 2px;
    top: 10;
}
.col {
    width: 180px;
    float: left;
}

.col-md-0{
    width: 860px;
    float: right;
}
#b {
    background-color: lightgrey;
}
#footer {
    clear: both;
    padding: 5px;
    background-color: gray;
    color: blue;
    
}
/*form*/
.btn-info {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    font-size: 15px;   
}